NET "Addr<0>" LOC = "P6"; 
NET "Addr<1>" LOC = "P12"; 
NET "Addr<2>" LOC = "P18"; 
NET "Addr<3>" LOC = "P24"; 
NET "Addr<4>" LOC = "P31"; 
NET "Addr<5>" LOC = "P38"; 
NET "Addr<6>" LOC = "P41"; 
NET "Addr<7>" LOC = "P47"; 
NET "Addr<8>" LOC = "P114"; 
NET "Addr<9>" LOC = "P120"; 
NET "Addr<10>" LOC = "P129"; 
NET "Addr<11>" LOC = "P136"; 
NET "Data<0>" LOC = "P113"; 
NET "Data<1>" LOC = "P117"; 
NET "Data<2>" LOC = "P126"; 
NET "Data<3>" LOC = "P135"; 
NET "Data<4>" LOC = "P139"; 
NET "Data<5>" LOC = "P140"; 
NET "Data<6>" LOC = "P142"; 
NET "Data<7>" LOC = "P5"; 
NET "Data<8>" LOC = "P8"; 
NET "Data<9>" LOC = "P17"; 
NET "Data<10>" LOC = "P23"; 
NET "Data<11>" LOC = "P26"; 
NET "Data<12>" LOC = "P35"; 
NET "Data<13>" LOC = "P39"; 
NET "Data<14>" LOC = "P50"; 
NET "Data<15>" LOC = "P44"; 
NET "RdN" LOC = "P141"; 
NET "WrN" LOC = "P119"; 
NET "Dq<0>" LOC = "P10"; 
NET "Dq<1>" LOC = "P29"; 
NET "CsN<0>" LOC = "P48"; 
NET "CsN<1>" LOC = "P66"; 
NET "Wait" LOC = "P112"; 
NET "Int" LOC = "P106"; 
NET "Clk" LOC = "P128"; 
NET "I2CClkIn" LOC = "P84";
NET "I2CClkOut" LOC = "P116";
NET "I2CDataOut" LOC = "P122";
NET "I2CDataIn" LOC = "P107";

NET "Async" LOC = "P111"; 
NET "Asdo" LOC = "P101"; 
NET "Arstn" LOC = "P95"; 
NET "Asdi" LOC = "P94";
NET "AbitClk" LOC = "P56"; 


NET "Audio" LOC = "P123";

NET P<0> LOC = "P143"; 
NET P<1> LOC = "P53"; 
NET P<2> LOC = "P59"; 
NET P<3> LOC = "P54"; 
NET P<4> LOC = "P67"; 
NET P<5> LOC = "P58"; 
NET P<6> LOC = "P68"; 
NET P<7> LOC = "P52"; 
NET P<8> LOC = "P51"; 
NET P<9> LOC = "P70"; 
NET P<10> LOC = "P74"; 
NET P<11> LOC = "P34"; 
NET P<12> LOC = "P75"; 
NET P<13> LOC = "P33"; 
NET P<14> LOC = "P76"; 
NET P<15> LOC = "P32"; 
NET P<16> LOC = "P77"; 
NET P<17> LOC = "P25"; 
NET P<18> LOC = "P22"; 
NET P<19> LOC = "P21"; 
NET P<20> LOC = "P81"; 
NET P<21> LOC = "P20"; 
NET P<22> LOC = "P82"; 
NET P<23> LOC = "P16"; 
NET P<24> LOC = "P83"; 
NET P<25> LOC = "P15";
NET P<26> LOC = "P85"; 
NET P<27> LOC = "P14"; 
NET P<28> LOC = "P86"; 
NET P<29> LOC = "P7"; 
NET P<30> LOC = "P87"; 
NET P<31> LOC = "P4";
NET P<32> LOC = "P88"; 
NET P<33> LOC = "P3"; 
NET P<34> LOC = "P2"; 
NET P<35> LOC = "P91"; 
NET P<36> LOC = "P96"; 
NET P<37> LOC = "P92"; 
NET P<38> LOC = "P93"; 
NET P<39> LOC = "P97"; 
NET P<40> LOC = "P98"; 
NET P<41> LOC = "P103"; 
NET P<42> LOC = "P104"; 
NET P<43> LOC = "P105"; 
NET P<44> LOC = "P132"; 
NET P<45> LOC = "P134"; 
NET P<46> LOC = "P130"; 
NET P<47> LOC = "P131"; 
NET P<48> LOC = "P124";
NET P<49> LOC = "P125"; 

NET PIn<0> LOC = "P69";
NET PIn<1> LOC = "P36";
NET PIn<2> LOC = "P78";

NET PClkIn LOC = "P89";

NET P<0> PULLUP;
NET P<1> PULLUP;
NET P<2> PULLUP;
NET P<3> PULLUP;
NET P<4> PULLUP;
NET P<5> PULLUP;
NET P<6> PULLUP;
NET P<7> PULLUP;
NET P<8> PULLUP;
NET P<9> PULLUP;
NET P<10> PULLUP;
NET P<11> PULLUP;
NET P<12> PULLUP;
NET P<13> PULLUP;
NET P<14> PULLUP;
NET P<15> PULLUP;

NET Wait PULLUP;
NET Data<*> FAST;

NET "Clk" PERIOD = 10 ns HIGH 50 %;
NET "Clk" TNM_NET = "Clk";
OFFSET = OUT 15 ns AFTER "Clk"  ;
TIMESPEC "TS_P2P" = FROM "PADS" TO "PADS" 15 ns;
OFFSET = IN 15 ns BEFORE "Clk"  ;
