NET "Addr<0>" LOC = "P6"; # PN0
NET "Addr<1>" LOC = "P12"; # PN2
NET "Addr<2>" LOC = "P18"; # PN3
NET "Addr<3>" LOC = "P24"; # PN4
NET "Addr<4>" LOC = "P31"; # PN6
NET "Addr<5>" LOC = "P38"; # PN8
NET "Addr<6>" LOC = "P41"; # PN9
NET "Addr<7>" LOC = "P47"; # PN10
NET "Addr<8>" LOC = "P114"; # PN22
NET "Addr<9>" LOC = "P120"; # PN24
NET "Addr<10>" LOC = "P129"; # PN26
NET "Addr<11>" LOC = "P136"; # PN27
NET "Data<0>" LOC = "P113"; # P56
NET "Data<1>" LOC = "P117"; # P58
NET "Data<2>" LOC = "P126"; # P63
NET "Data<3>" LOC = "P135"; # P68
NET "Data<4>" LOC = "P139"; # P69
NET "Data<5>" LOC = "P140"; # P70
NET "Data<6>" LOC = "P142"; # P71
NET "Data<7>" LOC = "P5"; # P3
NET "Data<8>" LOC = "P8"; # P5
NET "Data<9>" LOC = "P17"; # P9
NET "Data<10>" LOC = "P23"; # P13
NET "Data<11>" LOC = "P26"; # P15
NET "Data<12>" LOC = "P35"; # P19
NET "Data<13>" LOC = "P39"; # P20
NET "Data<14>" LOC = "P50"; # P21
NET "Data<15>" LOC = "P44"; # P22
NET "RdN" LOC = "P141"; # PN28
NET "WrN" LOC = "P119"; # PN23
NET "Dq<0>" LOC = "P10"; # PN1
NET "Dq<1>" LOC = "P29"; # PN5
NET "CsN<0>" LOC = "P48"; # PN11
NET "CsN<1>" LOC = "P66"; # PN13
NET "Wait" LOC = "P112"; # P55
NET "Int" LOC = "P106"; # P54
NET "Clk" LOC = "P128"; # PN25
NET "Async" LOC = "P111"; # PN21
NET "Asdo" LOC = "P101"; # PN19
NET "Arstn" LOC = "P95"; # PN18
NET "Asdi" LOC = "P94"; # P47
NET "AbitClk" LOC = "P56"; # PN12

NET P<0> LOC = "P143"; # P72
NET P<1> LOC = "P53"; # P26
NET P<2> LOC = "P59"; # P72
NET P<3> LOC = "P54"; # P72
NET P<4> LOC = "P67"; # P72
NET P<5> LOC = "P58"; # P72
NET P<6> LOC = "P68"; # P72
NET P<7> LOC = "P52"; # P72
NET P<8> LOC = "P51"; # P72
NET P<9> LOC = "P70"; # P72
NET P<10> LOC = "P74"; # P72
NET P<11> LOC = "P75"; # P72
NET P<12> LOC = "P34"; # P72
NET P<13> LOC = "P76"; # P72
NET P<14> LOC = "P33"; # P72
NET P<15> LOC = "P77"; # P72
NET P<16> LOC = "P32"; # P72
NET P<17> LOC = "P25"; # P72
NET P<18> LOC = "P81"; # P72
NET P<19> LOC = "P22"; # P72
NET P<20> LOC = "P82"; # P72
NET P<21> LOC = "P21"; # P72
NET P<22> LOC = "P83"; # P72
NET P<23> LOC = "P20"; # P72
NET P<24> LOC = "P16"; # P72
NET P<25> LOC = "P85"; # P72
NET P<26> LOC = "P15"; # P72
NET P<27> LOC = "P86"; # P72
NET P<28> LOC = "P14"; # P72
NET P<29> LOC = "P87"; # P72
NET P<30> LOC = "P7"; # P72
NET P<31> LOC = "P88"; # P72
NET P<32> LOC = "P4"; # P72
NET P<33> LOC = "P3"; # P72
NET P<34> LOC = "P91"; # P72
NET P<35> LOC = "P2"; # P72
NET P<36> LOC = "P92"; # P72
NET P<37> LOC = "P96"; # P72
NET P<38> LOC = "P93"; # P72
NET P<39> LOC = "P97"; # P72
NET P<40> LOC = "P98"; # P72
NET P<41> LOC = "P103"; # P72
NET P<42> LOC = "P104"; # P72
NET P<43> LOC = "P105"; # P72
NET P<44> LOC = "P134"; # P72
NET P<45> LOC = "P132"; # P72
NET P<46> LOC = "P131"; # P72
NET P<47> LOC = "P130"; # P72
NET P<48> LOC = "P125"; # P72
NET P<49> LOC = "P124"; # P72
NET P<50> LOC = "P123"; # P72
NET P<51> LOC = "P122"; # P72
NET P<52> LOC = "P116"; # P72

NET PIn<0> LOC = "P69";
NET PIn<1> LOC = "P36";
NET PIn<2> LOC = "P78";
NET PIn<3> LOC = "P84";
NET PIn<4> LOC = "P107";

NET PClkIn LOC = "P89";

NET Wait PULLUP;
NET Data<*> FAST;

NET P<1> PULLDOWN;
NET P<3> PULLDOWN;
NET P<5> PULLDOWN;
NET P<7> PULLDOWN;
NET P<0> PULLDOWN;
NET P<2> PULLDOWN;
NET P<4> PULLDOWN;
NET PIn<0> PULLDOWN;

NET "Clk" PERIOD = 10 ns HIGH 50 %;
NET "Clk" TNM_NET = "Clk";
OFFSET = OUT 15 ns AFTER "Clk"  ;
TIMESPEC "TS_P2P" = FROM "PADS" TO "PADS" 15 ns;
OFFSET = IN 15 ns BEFORE "Clk"  ;
