body, p, table, tr, td, ul, li, div {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 8pt
}

.blank-line {
   height: 10px;
}

.button-container div {
   margin: 2px 2px 2px 0;
   padding: 2px 0;
   cursor: pointer;
   float: left;
}

span.ui-icon {
   float: left;
   margin: 0 2px;
}

.explanatory-text {
   font-size: 8pt
}

.handle {
   padding: 1px;
   cursor: pointer;
}

.hidden {
   display: none;
}

.indented {
   margin-left: 20px;
}

.emphasized {
   font-weight: bold;
}

.label {
   font-weight: bold;
}

.main-title {
   font-size: 20pt;
   font-weight: bold;
}

.section {
   margin-bottom: 20px;
}

.section-title {
   font-size: 10pt;
   font-weight: bold;
   margin-bottom: 10px;
}

.selected {
   background-color: #dddddd;
}

.sortableListItem {
   display: block;
   padding: 0;
   margin: 0;
}

