body, p, table, tr, td, ul, li, div {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 8pt
}

button {
   cursor: pointer;
}

span.ui-icon {
   float: left;
   margin: 0 2px;
}

#alertDialog {
   display: none;
}

.blank-line {
   height: 10px;
}

.button-container {
   width: 302px;
}

.button-container div {
   margin: 2px 2px 2px 0;
   padding: 1px 0 2px;
   cursor: pointer;
   float: left;
}

.default-widget-width {
   width: 302px;
}

.divider {
   border-width: 1px 0 0 0;
   margin: 5px 0 5px 0
}

.default-widget-width {
   width: 300px;
}

.data-cell {
   border: solid 1px #cccccc;
   padding: 3px;
   text-align: center;
}

.align-left {
   text-align: left;
}

.align-right {
   text-align: right;
}

.data-column-label {
   padding: 0 5px 5px 5px;
   text-align: center;
}

.data-row-label {
   padding-right: 5px;
}

.emphasized {
   font-weight: bold;
}

.explanatory-text {
   font-size: 8pt
}

.handle {
   padding: 1px;
   cursor: pointer;
}

.indented {
   margin-left: 20px;
}

.label {
   font-weight: bold;
}

.list-item {
   display: block;
   padding: 1px;
   margin: 0;
   cursor: pointer;
}

.main-title {
   font-size: 20pt;
   font-weight: bold;
}

.non_closable_alert .ui-dialog-titlebar-close {
   display: none;
}

.section {
   margin-bottom: 20px;
}

.section-title {
   font-size: 10pt;
   font-weight: bold;
   margin-bottom: 10px;
}

.selected {
   background-color: #dddddd;
}

.sortable-list-item {
   display: block;
   padding: 0;
   margin: 0;
   cursor: pointer;
}

.status-ok {
   color: darkgreen;
}

.status-fault {
   color: darkred;
}

.text-button {
   padding: 3px 7px;
}
